openapi: 3.1.0
info:
  description: This section contains HTTP API reference docs for Bluesky and AT Protocol
    lexicons. Generate a bearer token to test API calls directly from the docs.
  title: AT Protocol XRPC API
  version: 0.0.0
servers:
- description: "Bluesky AppView (Public, No Auth)"
  url: https://public.api.bsky.app/xrpc
- description: Example atproto PDS (Authenticated)
  url: https://pds.example.org/xrpc
- description: "Bluesky Relay (Public, No Auth)"
  url: https://bsky.network/xrpc
tags:
- name: app.bsky.actor
- name: app.bsky.embed
- name: app.bsky.feed
- name: app.bsky.graph
- name: app.bsky.labeler
- name: app.bsky.notification
- name: app.bsky.richtext
- name: app.bsky.unspecced
- name: app.bsky.video
- name: chat.bsky.actor
- name: chat.bsky.convo
- name: chat.bsky.moderation
- name: com.atproto.admin
- name: com.atproto.identity
- name: com.atproto.label
- name: com.atproto.moderation
- name: com.atproto.repo
- name: com.atproto.server
- name: com.atproto.sync
- name: com.atproto.temp
- name: tools.ozone.communication
- name: tools.ozone.moderation
- name: tools.ozone.server
- name: tools.ozone.team
paths:
  /app.bsky.actor.getPreferences:
    get:
      description: "Get private preferences attached to the current account. Expected\
        \ use is synchronization between multiple devices, and import/export during\
        \ account migration. Requires auth."
      operationId: app.bsky.actor.getPreferences
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.actor
  /app.bsky.actor.getProfile:
    get:
      description: "Get detailed profile view of an actor. Does not require auth,\
        \ but contains relevant metadata with auth."
      operationId: app.bsky.actor.getProfile
      parameters:
      - description: Handle or DID of account to fetch profile of.
        explode: true
        in: query
        name: actor
        required: true
        schema:
          description: Handle or DID of account to fetch profile of.
          format: at-identifier
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.bsky.actor.defs.profileViewDetailed'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.actor
  /app.bsky.actor.getProfiles:
    get:
      description: Get detailed profile views of multiple actors.
      operationId: app.bsky.actor.getProfiles
      parameters:
      - explode: true
        in: query
        name: actors
        required: true
        schema:
          items:
            format: at-identifier
            type: string
          maxItems: 25
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getProfiles_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.actor
  /app.bsky.actor.getSuggestions:
    get:
      description: Get a list of suggested actors. Expected use is discovery of accounts
        to follow during new account onboarding.
      operationId: app.bsky.actor.getSuggestions
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getSuggestions_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.actor
  /app.bsky.actor.putPreferences:
    post:
      description: Set the private preferences attached to the account.
      operationId: app.bsky.actor.putPreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_actor_getPreferences_200_response'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.actor
  /app.bsky.actor.searchActors:
    get:
      description: Find actors (profiles) matching search criteria. Does not require
        auth.
      operationId: app.bsky.actor.searchActors
      parameters:
      - description: "Search query string. Syntax, phrase, boolean, and faceting is\
          \ unspecified, but Lucene query syntax is recommended."
        explode: true
        in: query
        name: q
        required: false
        schema:
          description: "Search query string. Syntax, phrase, boolean, and faceting\
            \ is unspecified, but Lucene query syntax is recommended."
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getSuggestions_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.actor
  /app.bsky.actor.searchActorsTypeahead:
    get:
      description: Find actor suggestions for a prefix search term. Expected use is
        for auto-completion during text field entry. Does not require auth.
      operationId: app.bsky.actor.searchActorsTypeahead
      parameters:
      - description: Search query prefix; not a full query string.
        explode: true
        in: query
        name: q
        required: false
        schema:
          description: Search query prefix; not a full query string.
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_searchActorsTypeahead_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.actor
  /app.bsky.feed.describeFeedGenerator:
    get:
      description: "Get information about a feed generator, including policies and\
        \ offered feed URIs. Does not require auth; implemented by Feed Generator\
        \ services (not App View)."
      operationId: app.bsky.feed.describeFeedGenerator
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_describeFeedGenerator_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getActorFeeds:
    get:
      description: Get a list of feeds (feed generator records) created by the actor
        (in the actor's repo).
      operationId: app.bsky.feed.getActorFeeds
      parameters:
      - explode: true
        in: query
        name: actor
        required: true
        schema:
          format: at-identifier
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorFeeds_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getActorLikes:
    get:
      description: "Get a list of posts liked by an actor. Requires auth, actor must\
        \ be the requesting account."
      operationId: app.bsky.feed.getActorLikes
      parameters:
      - explode: true
        in: query
        name: actor
        required: true
        schema:
          format: at-identifier
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorLikes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorLikes_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getAuthorFeed:
    get:
      description: Get a view of an actor's 'author feed' (post and reposts by the
        author). Does not require auth.
      operationId: app.bsky.feed.getAuthorFeed
      parameters:
      - explode: true
        in: query
        name: actor
        required: true
        schema:
          format: at-identifier
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Combinations of post/repost types to include in response.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: posts_with_replies
          description: Combinations of post/repost types to include in response.
          enum:
          - posts_with_replies
          - posts_no_replies
          - posts_with_media
          - posts_and_author_threads
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorLikes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorLikes_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getFeed:
    get:
      description: Get a hydrated feed from an actor's selected feed generator. Implemented
        by App View.
      operationId: app.bsky.feed.getFeed
      parameters:
      - explode: true
        in: query
        name: feed
        required: true
        schema:
          format: at-uri
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorLikes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getFeed_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getFeedGenerator:
    get:
      description: Get information about a feed generator. Implemented by AppView.
      operationId: app.bsky.feed.getFeedGenerator
      parameters:
      - description: AT-URI of the feed generator record.
        explode: true
        in: query
        name: feed
        required: true
        schema:
          description: AT-URI of the feed generator record.
          format: at-uri
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getFeedGenerator_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getFeedGenerators:
    get:
      description: Get information about a list of feed generators.
      operationId: app.bsky.feed.getFeedGenerators
      parameters:
      - explode: true
        in: query
        name: feeds
        required: true
        schema:
          items:
            format: at-uri
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getFeedGenerators_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getFeedSkeleton:
    get:
      description: "Get a skeleton of a feed provided by a feed generator. Auth is\
        \ optional, depending on provider requirements, and provides the DID of the\
        \ requester. Implemented by Feed Generator Service."
      operationId: app.bsky.feed.getFeedSkeleton
      parameters:
      - description: Reference to feed generator record describing the specific feed
          being requested.
        explode: true
        in: query
        name: feed
        required: true
        schema:
          description: Reference to feed generator record describing the specific
            feed being requested.
          format: at-uri
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getFeedSkeleton_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getFeed_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getLikes:
    get:
      description: Get like records which reference a subject (by AT-URI and CID).
      operationId: app.bsky.feed.getLikes
      parameters:
      - description: "AT-URI of the subject (eg, a post record)."
        explode: true
        in: query
        name: uri
        required: true
        schema:
          description: "AT-URI of the subject (eg, a post record)."
          format: at-uri
          type: string
        style: form
      - description: "CID of the subject record (aka, specific version of record),\
          \ to filter likes."
        explode: true
        in: query
        name: cid
        required: false
        schema:
          description: "CID of the subject record (aka, specific version of record),\
            \ to filter likes."
          format: cid
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getLikes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getListFeed:
    get:
      description: Get a feed of recent posts from a list (posts and reposts from
        any actors on the list). Does not require auth.
      operationId: app.bsky.feed.getListFeed
      parameters:
      - description: Reference (AT-URI) to the list record.
        explode: true
        in: query
        name: list
        required: true
        schema:
          description: Reference (AT-URI) to the list record.
          format: at-uri
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorLikes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getListFeed_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getPostThread:
    get:
      description: "Get posts in a thread. Does not require auth, but additional metadata\
        \ and filtering will be applied for authed requests."
      operationId: app.bsky.feed.getPostThread
      parameters:
      - description: Reference (AT-URI) to post record.
        explode: true
        in: query
        name: uri
        required: true
        schema:
          description: Reference (AT-URI) to post record.
          format: at-uri
          type: string
        style: form
      - description: How many levels of reply depth should be included in response.
        explode: true
        in: query
        name: depth
        required: false
        schema:
          default: 6
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: "How many levels of parent (and grandparent, etc) post to include."
        explode: true
        in: query
        name: parentHeight
        required: false
        schema:
          default: 80
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getPostThread_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getPostThread_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getPosts:
    get:
      description: Gets post views for a specified list of posts (by AT-URI). This
        is sometimes referred to as 'hydrating' a 'feed skeleton'.
      operationId: app.bsky.feed.getPosts
      parameters:
      - description: List of post AT-URIs to return hydrated views for.
        explode: true
        in: query
        name: uris
        required: true
        schema:
          items:
            format: at-uri
            type: string
          maxItems: 25
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getPosts_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getQuotes:
    get:
      description: Get a list of quotes for a given post.
      operationId: app.bsky.feed.getQuotes
      parameters:
      - description: Reference (AT-URI) of post record
        explode: true
        in: query
        name: uri
        required: true
        schema:
          description: Reference (AT-URI) of post record
          format: at-uri
          type: string
        style: form
      - description: "If supplied, filters to quotes of specific version (by CID)\
          \ of the post record."
        explode: true
        in: query
        name: cid
        required: false
        schema:
          description: "If supplied, filters to quotes of specific version (by CID)\
            \ of the post record."
          format: cid
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getQuotes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getRepostedBy:
    get:
      description: Get a list of reposts for a given post.
      operationId: app.bsky.feed.getRepostedBy
      parameters:
      - description: Reference (AT-URI) of post record
        explode: true
        in: query
        name: uri
        required: true
        schema:
          description: Reference (AT-URI) of post record
          format: at-uri
          type: string
        style: form
      - description: "If supplied, filters to reposts of specific version (by CID)\
          \ of the post record."
        explode: true
        in: query
        name: cid
        required: false
        schema:
          description: "If supplied, filters to reposts of specific version (by CID)\
            \ of the post record."
          format: cid
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getRepostedBy_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getSuggestedFeeds:
    get:
      description: Get a list of suggested feeds (feed generators) for the requesting
        account.
      operationId: app.bsky.feed.getSuggestedFeeds
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorFeeds_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getTimeline:
    get:
      description: Get a view of the requesting account's home timeline. This is expected
        to be some form of reverse-chronological feed.
      operationId: app.bsky.feed.getTimeline
      parameters:
      - description: "Variant 'algorithm' for timeline. Implementation-specific. NOTE:\
          \ most feed flexibility has been moved to feed generator mechanism."
        explode: true
        in: query
        name: algorithm
        required: false
        schema:
          description: "Variant 'algorithm' for timeline. Implementation-specific.\
            \ NOTE: most feed flexibility has been moved to feed generator mechanism."
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorLikes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.searchPosts:
    get:
      description: "Find posts matching search criteria, returning views of those\
        \ posts."
      operationId: app.bsky.feed.searchPosts
      parameters:
      - description: "Search query string; syntax, phrase, boolean, and faceting is\
          \ unspecified, but Lucene query syntax is recommended."
        explode: true
        in: query
        name: q
        required: true
        schema:
          description: "Search query string; syntax, phrase, boolean, and faceting\
            \ is unspecified, but Lucene query syntax is recommended."
          type: string
        style: form
      - description: Specifies the ranking order of results.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: latest
          description: Specifies the ranking order of results.
          enum:
          - top
          - latest
          type: string
        style: form
      - description: "Filter results for posts after the indicated datetime (inclusive).\
          \ Expected to use 'sortAt' timestamp, which may not match 'createdAt'. Can\
          \ be a datetime, or just an ISO date (YYYY-MM-DD)."
        explode: true
        in: query
        name: since
        required: false
        schema:
          description: "Filter results for posts after the indicated datetime (inclusive).\
            \ Expected to use 'sortAt' timestamp, which may not match 'createdAt'.\
            \ Can be a datetime, or just an ISO date (YYYY-MM-DD)."
          type: string
        style: form
      - description: "Filter results for posts before the indicated datetime (not\
          \ inclusive). Expected to use 'sortAt' timestamp, which may not match 'createdAt'.\
          \ Can be a datetime, or just an ISO date (YYY-MM-DD)."
        explode: true
        in: query
        name: until
        required: false
        schema:
          description: "Filter results for posts before the indicated datetime (not\
            \ inclusive). Expected to use 'sortAt' timestamp, which may not match\
            \ 'createdAt'. Can be a datetime, or just an ISO date (YYY-MM-DD)."
          type: string
        style: form
      - description: Filter to posts which mention the given account. Handles are
          resolved to DID before query-time. Only matches rich-text facet mentions.
        explode: true
        in: query
        name: mentions
        required: false
        schema:
          description: Filter to posts which mention the given account. Handles are
            resolved to DID before query-time. Only matches rich-text facet mentions.
          format: at-identifier
          type: string
        style: form
      - description: Filter to posts by the given account. Handles are resolved to
          DID before query-time.
        explode: true
        in: query
        name: author
        required: false
        schema:
          description: Filter to posts by the given account. Handles are resolved
            to DID before query-time.
          format: at-identifier
          type: string
        style: form
      - description: "Filter to posts in the given language. Expected to be based\
          \ on post language field, though server may override language detection."
        explode: true
        in: query
        name: lang
        required: false
        schema:
          description: "Filter to posts in the given language. Expected to be based\
            \ on post language field, though server may override language detection."
          format: language
          type: string
        style: form
      - description: Filter to posts with URLs (facet links or embeds) linking to
          the given domain (hostname). Server may apply hostname normalization.
        explode: true
        in: query
        name: domain
        required: false
        schema:
          description: Filter to posts with URLs (facet links or embeds) linking to
            the given domain (hostname). Server may apply hostname normalization.
          type: string
        style: form
      - description: Filter to posts with links (facet links or embeds) pointing to
          this URL. Server may apply URL normalization or fuzzy matching.
        explode: true
        in: query
        name: url
        required: false
        schema:
          description: Filter to posts with links (facet links or embeds) pointing
            to this URL. Server may apply URL normalization or fuzzy matching.
          format: uri
          type: string
        style: form
      - description: "Filter to posts with the given tag (hashtag), based on rich-text\
          \ facet or tag field. Do not include the hash (#) prefix. Multiple tags\
          \ can be specified, with 'AND' matching."
        explode: true
        in: query
        name: tag
        required: false
        schema:
          items:
            maxLength: 640
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Optional pagination mechanism; may not necessarily allow scrolling
          through entire result set.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: Optional pagination mechanism; may not necessarily allow scrolling
            through entire result set.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_searchPosts_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_searchPosts_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.sendInteractions:
    post:
      description: Send information about interactions with feed items back to the
        feed generator that served them.
      operationId: app.bsky.feed.sendInteractions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_feed_sendInteractions_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_sendInteractions_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.graph.getActorStarterPacks:
    get:
      description: Get a list of starter packs created by the actor.
      operationId: app.bsky.graph.getActorStarterPacks
      parameters:
      - explode: true
        in: query
        name: actor
        required: true
        schema:
          format: at-identifier
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getActorStarterPacks_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getBlocks:
    get:
      description: Enumerates which accounts the requesting account is currently blocking.
        Requires auth.
      operationId: app.bsky.graph.getBlocks
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getBlocks_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getFollowers:
    get:
      description: Enumerates accounts which follow a specified account (actor).
      operationId: app.bsky.graph.getFollowers
      parameters:
      - explode: true
        in: query
        name: actor
        required: true
        schema:
          format: at-identifier
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getFollowers_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getFollows:
    get:
      description: Enumerates accounts which a specified account (actor) follows.
      operationId: app.bsky.graph.getFollows
      parameters:
      - explode: true
        in: query
        name: actor
        required: true
        schema:
          format: at-identifier
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getFollows_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getKnownFollowers:
    get:
      description: Enumerates accounts which follow a specified account (actor) and
        are followed by the viewer.
      operationId: app.bsky.graph.getKnownFollowers
      parameters:
      - explode: true
        in: query
        name: actor
        required: true
        schema:
          format: at-identifier
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getFollowers_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getList:
    get:
      description: Gets a 'view' (with additional context) of a specified list.
      operationId: app.bsky.graph.getList
      parameters:
      - description: Reference (AT-URI) of the list record to hydrate.
        explode: true
        in: query
        name: list
        required: true
        schema:
          description: Reference (AT-URI) of the list record to hydrate.
          format: at-uri
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getList_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getListBlocks:
    get:
      description: Get mod lists that the requesting account (actor) is blocking.
        Requires auth.
      operationId: app.bsky.graph.getListBlocks
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getListBlocks_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getListMutes:
    get:
      description: Enumerates mod lists that the requesting account (actor) currently
        has muted. Requires auth.
      operationId: app.bsky.graph.getListMutes
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getListBlocks_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getLists:
    get:
      description: Enumerates the lists created by a specified account (actor).
      operationId: app.bsky.graph.getLists
      parameters:
      - description: The account (actor) to enumerate lists from.
        explode: true
        in: query
        name: actor
        required: true
        schema:
          description: The account (actor) to enumerate lists from.
          format: at-identifier
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getListBlocks_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getMutes:
    get:
      description: Enumerates accounts that the requesting account (actor) currently
        has muted. Requires auth.
      operationId: app.bsky.graph.getMutes
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getMutes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getRelationships:
    get:
      description: "Enumerates public relationships between one account, and a list\
        \ of other accounts. Does not require auth."
      operationId: app.bsky.graph.getRelationships
      parameters:
      - description: Primary account requesting relationships for.
        explode: true
        in: query
        name: actor
        required: true
        schema:
          description: Primary account requesting relationships for.
          format: at-identifier
          type: string
        style: form
      - description: List of 'other' accounts to be related back to the primary.
        explode: true
        in: query
        name: others
        required: false
        schema:
          items:
            format: at-identifier
            type: string
          maxItems: 30
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getRelationships_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getRelationships_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getStarterPack:
    get:
      description: Gets a view of a starter pack.
      operationId: app.bsky.graph.getStarterPack
      parameters:
      - description: Reference (AT-URI) of the starter pack record.
        explode: true
        in: query
        name: starterPack
        required: true
        schema:
          description: Reference (AT-URI) of the starter pack record.
          format: at-uri
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getStarterPack_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getStarterPacks:
    get:
      description: Get views for a list of starter packs.
      operationId: app.bsky.graph.getStarterPacks
      parameters:
      - explode: true
        in: query
        name: uris
        required: true
        schema:
          items:
            format: at-uri
            type: string
          maxItems: 25
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getStarterPacks_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getSuggestedFollowsByActor:
    get:
      description: Enumerates follows similar to a given account (actor). Expected
        use is to recommend additional accounts immediately after following one account.
      operationId: app.bsky.graph.getSuggestedFollowsByActor
      parameters:
      - explode: true
        in: query
        name: actor
        required: true
        schema:
          format: at-identifier
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getSuggestedFollowsByActor_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.muteActor:
    post:
      description: Creates a mute relationship for the specified account. Mutes are
        private in Bluesky. Requires auth.
      operationId: app.bsky.graph.muteActor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_graph_muteActor_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.muteActorList:
    post:
      description: Creates a mute relationship for the specified list of accounts.
        Mutes are private in Bluesky. Requires auth.
      operationId: app.bsky.graph.muteActorList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_graph_muteActorList_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.muteThread:
    post:
      description: Mutes a thread preventing notifications from the thread and any
        of its children. Mutes are private in Bluesky. Requires auth.
      operationId: app.bsky.graph.muteThread
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_graph_muteThread_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.unmuteActor:
    post:
      description: Unmutes the specified account. Requires auth.
      operationId: app.bsky.graph.unmuteActor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_graph_muteActor_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.unmuteActorList:
    post:
      description: Unmutes the specified list of accounts. Requires auth.
      operationId: app.bsky.graph.unmuteActorList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_graph_muteActorList_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.unmuteThread:
    post:
      description: Unmutes the specified thread. Requires auth.
      operationId: app.bsky.graph.unmuteThread
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_graph_muteThread_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.labeler.getServices:
    get:
      description: Get information about a list of labeler services.
      operationId: app.bsky.labeler.getServices
      parameters:
      - explode: true
        in: query
        name: dids
        required: true
        schema:
          items:
            format: did
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: detailed
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_labeler_getServices_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.labeler
  /app.bsky.notification.getUnreadCount:
    get:
      description: Count the number of unread notifications for the requesting account.
        Requires auth.
      operationId: app.bsky.notification.getUnreadCount
      parameters:
      - explode: true
        in: query
        name: priority
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: seenAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_notification_getUnreadCount_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.notification
  /app.bsky.notification.listNotifications:
    get:
      description: Enumerate notifications for the requesting account. Requires auth.
      operationId: app.bsky.notification.listNotifications
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: priority
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: seenAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_notification_listNotifications_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.notification
  /app.bsky.notification.putPreferences:
    post:
      description: Set notification-related preferences for an account. Requires auth.
      operationId: app.bsky.notification.putPreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_notification_putPreferences_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.notification
  /app.bsky.notification.registerPush:
    post:
      description: "Register to receive push notifications, via a specified service,\
        \ for the requesting account. Requires auth."
      operationId: app.bsky.notification.registerPush
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_notification_registerPush_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.notification
  /app.bsky.notification.updateSeen:
    post:
      description: Notify server that the requesting account has seen notifications.
        Requires auth.
      operationId: app.bsky.notification.updateSeen
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_notification_updateSeen_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.notification
  /app.bsky.video.getJobStatus:
    get:
      description: Get status details for a video processing job.
      operationId: app.bsky.video.getJobStatus
      parameters:
      - explode: true
        in: query
        name: jobId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_video_getJobStatus_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.video
  /app.bsky.video.getUploadLimits:
    get:
      description: Get video upload limits for the authenticated user.
      operationId: app.bsky.video.getUploadLimits
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_video_getUploadLimits_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.video
  /app.bsky.video.uploadVideo:
    post:
      description: Upload a video to be processed then stored on the PDS.
      operationId: app.bsky.video.uploadVideo
      requestBody:
        content:
          video/mp4: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_video_getJobStatus_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.video
  /chat.bsky.actor.deleteAccount:
    post:
      operationId: chat.bsky.actor.deleteAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_sendInteractions_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.actor
  /chat.bsky.actor.exportAccountData:
    get:
      operationId: chat.bsky.actor.exportAccountData
      responses:
        "200":
          content:
            application/jsonl: {}
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.actor
  /chat.bsky.convo.deleteMessageForSelf:
    post:
      operationId: chat.bsky.convo.deleteMessageForSelf
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chat_bsky_convo_deleteMessageForSelf_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.bsky.convo.defs.deletedMessageView'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.convo
  /chat.bsky.convo.getConvo:
    get:
      operationId: chat.bsky.convo.getConvo
      parameters:
      - explode: true
        in: query
        name: convoId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat_bsky_convo_getConvo_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.convo
  /chat.bsky.convo.getConvoForMembers:
    get:
      operationId: chat.bsky.convo.getConvoForMembers
      parameters:
      - explode: true
        in: query
        name: members
        required: true
        schema:
          items:
            format: did
            type: string
          maxItems: 10
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat_bsky_convo_getConvo_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.convo
  /chat.bsky.convo.getLog:
    get:
      operationId: chat.bsky.convo.getLog
      parameters:
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat_bsky_convo_getLog_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.convo
  /chat.bsky.convo.getMessages:
    get:
      operationId: chat.bsky.convo.getMessages
      parameters:
      - explode: true
        in: query
        name: convoId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat_bsky_convo_getMessages_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.convo
  /chat.bsky.convo.leaveConvo:
    post:
      operationId: chat.bsky.convo.leaveConvo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chat_bsky_convo_leaveConvo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat_bsky_convo_leaveConvo_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.convo
  /chat.bsky.convo.listConvos:
    get:
      operationId: chat.bsky.convo.listConvos
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat_bsky_convo_listConvos_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.convo
  /chat.bsky.convo.muteConvo:
    post:
      operationId: chat.bsky.convo.muteConvo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chat_bsky_convo_leaveConvo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat_bsky_convo_getConvo_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.convo
  /chat.bsky.convo.sendMessage:
    post:
      operationId: chat.bsky.convo.sendMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chat_bsky_convo_sendMessage_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.bsky.convo.defs.messageView'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.convo
  /chat.bsky.convo.sendMessageBatch:
    post:
      operationId: chat.bsky.convo.sendMessageBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chat_bsky_convo_sendMessageBatch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat_bsky_convo_sendMessageBatch_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.convo
  /chat.bsky.convo.unmuteConvo:
    post:
      operationId: chat.bsky.convo.unmuteConvo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chat_bsky_convo_leaveConvo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat_bsky_convo_getConvo_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.convo
  /chat.bsky.convo.updateRead:
    post:
      operationId: chat.bsky.convo.updateRead
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chat_bsky_convo_updateRead_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat_bsky_convo_getConvo_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.convo
  /chat.bsky.moderation.getActorMetadata:
    get:
      operationId: chat.bsky.moderation.getActorMetadata
      parameters:
      - explode: true
        in: query
        name: actor
        required: true
        schema:
          format: did
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat_bsky_moderation_getActorMetadata_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.moderation
  /chat.bsky.moderation.getMessageContext:
    get:
      operationId: chat.bsky.moderation.getMessageContext
      parameters:
      - description: "Conversation that the message is from. NOTE: this field will\
          \ eventually be required."
        explode: true
        in: query
        name: convoId
        required: false
        schema:
          description: "Conversation that the message is from. NOTE: this field will\
            \ eventually be required."
          type: string
        style: form
      - explode: true
        in: query
        name: messageId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          default: 5
          type: integer
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          default: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat_bsky_moderation_getMessageContext_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.moderation
  /chat.bsky.moderation.updateActorAccess:
    post:
      operationId: chat.bsky.moderation.updateActorAccess
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chat_bsky_moderation_updateActorAccess_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - chat.bsky.moderation
  /com.atproto.admin.deleteAccount:
    post:
      description: Delete a user account as an administrator.
      operationId: com.atproto.admin.deleteAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_deleteAccount_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.disableAccountInvites:
    post:
      description: "Disable an account from receiving new invite codes, but does not\
        \ invalidate existing codes."
      operationId: com.atproto.admin.disableAccountInvites
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_disableAccountInvites_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.disableInviteCodes:
    post:
      description: Disable some set of codes and/or all codes associated with a set
        of users.
      operationId: com.atproto.admin.disableInviteCodes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_disableInviteCodes_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.enableAccountInvites:
    post:
      description: Re-enable an account's ability to receive invite codes.
      operationId: com.atproto.admin.enableAccountInvites
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_enableAccountInvites_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.getAccountInfo:
    get:
      description: Get details about an account.
      operationId: com.atproto.admin.getAccountInfo
      parameters:
      - explode: true
        in: query
        name: did
        required: true
        schema:
          format: did
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.atproto.admin.defs.accountView'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.getAccountInfos:
    get:
      description: Get details about some accounts.
      operationId: com.atproto.admin.getAccountInfos
      parameters:
      - explode: true
        in: query
        name: dids
        required: true
        schema:
          items:
            format: did
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_getAccountInfos_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.getInviteCodes:
    get:
      description: Get an admin view of invite codes.
[...]
